.container {
    position: relative;
    margin-bottom: var(--page-margin);
    color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subContainer {
    width: 500px;
    height: 500px;
    position: relative;
    background: var(--primary-back-color);
    color: var(--primary-text-color);
}

.subContainer:first-of-type, .subContainer:last-of-type {
    background: var(--secondary-back-color);
    color: var(--secondary-text-color);
}

.subContainer:first-of-type:hover, .subContainer:last-of-type:hover {
    background: var(--secondary-back-color-hover);
}

.subSubContainer {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: var(--standard-padding);
}

.subSubContainer p {
    margin-top: var(--text-margin);
}

.imgContainer {
    z-index: 10;
    position: absolute;
}

.subContainer:first-of-type .imgContainer {
    right: -50px;
    bottom: -100px;
    width: 300px;
    height: 400px;
}

.subContainer:last-of-type .imgContainer {
    left: -150px;
    bottom: -100px;
    width: 500px;
    height: 350px;
}

.breadText {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
