.container {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    transition: .5s border-color;
}

.imgContainer:hover {
    border: 5px solid var(--secondary-back-color)
}


.textContainer {
    margin-top: 50px;
    width: 60%;
    padding: var(--standard-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--page-margin);
}

.textContainer h1 {
    text-align: center;
}