.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageHeader {
    margin-top: var(--page-margin);
    margin-bottom: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50px;
}

.pageHeader h2 {
    text-align: center;
    padding: var(--large-padding);
}

.container {
    background: white;
    border: 15px solid white;
    border-radius: 50px;
    outline: none;
    overflow: hidden;
    margin: 20px;
}

.container h2, .container h3 {
    text-align: center;
    margin: 20px;
}

.container h2 {
    color: black;
}

.container h3 {
    color: white;
}

.headerContainer, .textContainer {
    display: flex;
    justify-content: center;
    width: 700px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

.textContainer {
    background: #301934;
}
