.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.header {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer {
    height: auto;
    width: inherit;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}