.container {
    background: white;
}

.headerContainer {
    padding-top: var(--page-margin);
    padding-bottom: var(--page-margin);
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainer h2, .headerContainer h3 {
    padding-left: var(--large-padding);
    padding-right: var(--large-padding);
    text-align: center;
    color: black;
}