.navbar {
    width: 100%;
    height: 200px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.navbar ul {
    width: 80%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.navbar a {
    padding: var(--standard-padding);
    border-radius: var(--standard-border-radius);
}

.navbar a img {
    background: none;
}

.menuButton {
    margin-right: var(--page-header-side-margin);
    cursor: pointer;
}

.textAnchor {
  border: var(--small-border);
  padding: 5px;
  transition: var(--small-border-transition);
}

.textAnchor:hover {
  border: var(--small-border-hover);
}

@keyframes slideFadeIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .headerAnimate {
    animation: slideFadeIn .75s ease-out forwards;
  }