.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    margin-top: var(--page-margin);
    margin-bottom: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50px;
}

.headerContainer h2 {
    text-align: center;
    padding: var(--large-padding);
}

.mainContentContainer {
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: var(--page-margin);
}
