.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContentContainer {
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: var(--page-margin);
}

.container {
    border: 15px solid white;
    border-radius: 50px;
    width: calc(100%-40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: border-color .5s;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.container:hover {
    border-color: white;
}

.container {
    padding: var(--large-padding);
}

.container img {
    width: 125px;
    height: 125px;
}

.container img, .container h3, .container h4 {
    margin: 5px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
}
