.container {
    border: var(--border);
    border-radius: var(--standard-border-radius);
    width: calc(100%-40px);
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-back-color);
    transition: var(--border-transition);
}

.container:hover {
    border: var(--border-hover)
}

.container {
    padding: var(--large-padding);
}

.container img, .container h3, .container h4 {
    margin: 5px;
    color: var(--primary-text-color);
}