.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--tertiary-back-color);
}

.headerContainer {
    margin-top: var(--page-margin);
    margin-bottom: 50px;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin-left: var(--page-header-side-margin);
}

.mainContentContainer {
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: var(--page-margin);
}
