.container {
    border: 2px solid var(--primary-text-color);
    border-radius: var(--standard-border-radius);
    width: calc(100%-40px);
    height: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-back-color);
    transition: margin-top .5s;
}

.container:hover {
    margin-top: 10px;
}

.container {
    padding: var(--standard-padding);
}

.container img, .container h3, .container h4 {
    margin: 5px;
    color: var(--primary-text-color);
}