.container {
    border: 15px solid white;
    border-radius: 50px;
    width: calc(100%-40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-back-color);
    transition: border-color .5s;
}

.container:hover {
    border-color: #800080;
}

.container {
    padding: var(--large-padding);
}

.container img {
    width: 125px;
    height: 125px;
}

.container img, .container h3, .container h4 {
    margin: 5px;
    color: var(--primary-text-color);
}