@media (max-width: 450px) {
    img[data-id="top-img"] {
        width: 250px;
        height: 250px;
    }
}

.titleWord {
      animation: color-animation 10s linear infinite;
}

.titleWord1 {
  --color-1: #800080;
  --color-2: #a27ba9;
  --color-3: black;
}

.titleWord2 {
  --color-1: black;
  --color-2: #a27ba9;
  --color-3: #800080;
}

.titleWord3 {
  --color-1: #a27ba9;
  --color-2: #800080;
  --color-3: black;
}



@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

