.container {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #301934;
    background: linear-gradient(180deg,rgba(48, 25, 52, 1) 10%, rgba(0, 0, 0, 1) 100%);
}

.imgContainer {
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
    transition: var(--border-transition);
}

.imgContainer:hover {
    border: var(--border-hover);
}

.imgContainer img {
    width: 400px;
    height: 400px;
}

.textContainer {
    margin-top: 50px;
    padding: var(--standard-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--page-margin);
    padding: var(--large-padding);
}

.textContainer h1, .textContainer h2 {
    text-align: center;
}

.textContainer h1 span {
    color: var(--quaternary-text-color);
}