.container {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid white;
    transition: border-color .5s;
}

.imgContainer:hover {
    border-color: #800080;
}

.imgContainer img {
    width: 350px;
    height: 350px;
}

.textContainer {
    margin-top: 50px;
    padding: var(--standard-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--page-margin);
    padding: var(--large-padding);
    width: 600px;
    background: white;
    border-radius: 50px;
}

.textContainer h1, .textContainer h2 {
    text-align: center;
}

.textContainer h1 {
    padding: 15px;
}

.textContainer h1 span {
    color: black;
}

.textContainer h2 {
    color: black;
}