:root {
    --primary-back-color: #301934	;
    --secondary-back-color: #800080	; 
    --tertiary-back-color: #000000;
    --quaternary-back-color: #ffffff;
    --primary-text-color: #ffffff;
    --secondary-text-color: #301934;
    --tertiary-text-color: #000000;
    --quaternary-text-color: #800080;
    --page-margin: 75px;
    --standard-padding: 10px;
    --large-padding: 20px;
    --standard-border-radius: 20px;
    --border: 8px solid #ffffff;
    --border-hover: 8px solid #800080;
    --border-transition: .5s border-color;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cal Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-optical-sizing: auto;
    color: var(--primary-text-color);
  }

  html, body {
    background: var(--primary-back-color);
    max-width: 100vw;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }