:root {
    --page-margin: 50px;
    --standard-padding: 10px;
    --large-padding: 20px;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cal Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-optical-sizing: auto;
    color: white;
  }

html, body {
  max-width: 100vw;
  }

body {
  background: #5a0148;
  }

a {
  cursor: pointer;
  text-decoration: none;
  }

.titleWord {
  animation: color-animation 10s linear infinite;
}

.titleWord1 {
  --color-1: #ffffff;
  --color-2: #a9befc;
  --color-3: #310080;
}

.titleWord2 {
  --color-1: #310080;
  --color-2: #a9befc;
  --color-3: #ffffff;
}

.titleWord3 {
  --color-1: #a9befc;
  --color-2: #ffffff;
  --color-3: #310080;
}


.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

  @media (max-width: 900px) {
    :root {
      --page-margin: 25px;
    }
  }