:root {
    --primary-back-color: #301934	;
    --secondary-back-color: #800080	; 
    --tertiary-back-color: #000000;
    --primary-text-color: #ffffff;
    --secondary-text-color: #301934;
    --page-margin: 75px;
    --standard-padding: 10px;
    --standard-border-radius: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-text-color);
  }

  body {
    background: var(--primary-back-color);
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }